.home_page {
    width: 1440px;
    margin: 0 auto;
}

.home_page h1,
.home_page h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

#catalog {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    align-items: center;
    gap: 96px;
}

.categories_btn {
    width: 120px;
    height: 30.97px;
    border: 2px solid #8B8B8B;
    text-align: center;
    line-height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #8B8B8B;
    text-decoration: none;
}