.main{
    display: flex;
    flex-direction: column;
    align-items:start; 
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.single_item{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
}

.single_item img{
    height: 710px;
    width: 710px;
    margin-left: 87px;
    margin-top: 34px;
    margin-right: 129px;
    margin-bottom: 187px;
}

.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    margin-left: 30px;
    margin-top: 37px;

}
.discount_price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;
}

.currency{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
}

.prices{
    display: flex;
    align-items:first baseline;
    gap: 80px;
    margin-top: 97px;
}

#price_style{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: #8B8B8B;
}

#sale_style{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #FF32A1;
}

#to_cart{
    background: #339933;
    border: 2px solid #339933;
    border-radius: 10px;
    width: 341px;
    height: 86px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
    background: #339933;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 40px 0;
}

#description{
    border-top: 1px dashed #C0C0C0;
    padding-top: 25.5px;
    padding-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
   
}

#description_full{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}