.sales_page {
    width: 1440px;
    margin: 0 auto;
}

.sales_page h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-top: 49px;
}

.form {
    display: flex;
    gap: 69px;
    justify-items: center;
    align-items: center;
    margin-top: 81px;
}