.product_item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  position: relative;
}

.product_item img {
  width: 300px;
  height: 300px;
  object-fit: conver;
}

.product_item p {
  text-align: left;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.add_btn {
  position: absolute;
  bottom: 105px;
  left: 10px;
  visibility: hidden;
  width: 279px;
  height: 72px;
  background: #F1FFF1;
  border: 2px solid #339933;
  border-radius: 21px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  cursor: pointer;
  color: #339933;
}

.product_item:hover .add_btn {
  visibility: visible;
}

.product_item a {
  text-decoration: none;
  color: black;
}

.price_block {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  align-items: center;
}

#discountPrice {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

#price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration-line: line-through;
  color: #8B8B8B;
}

#priceNa {
  visibility: hidden;
}

#discountPr {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #FF32A1;
}

#discountPrNa {
  visibility: hidden;
}